<div ng-class="{'defaultImage': isDefaultImage, 'adjustImage': !isDefaultImage}">
    <touch2-scroll
            draggable="draggable"
            cstyle="{width: pf(width) + 'px', height: pf(height) + 'px', overflow: 'hidden', display: 'block'}">

        <img ng-if="isHigherImage"
             class="higherImage"
             ng-style="{'margin-left': marginLeft, 'margin-top': marginTop}"
             ng-src={{image2Draw.url}}>

        <img ng-if="isWiderImage"
             class="widerImage"
             ng-style="{'margin-left': marginLeft, 'margin-top': marginTop}"
             ng-src={{image2Draw.url}}>

        <img ng-if="sameRatioImage"
             class="sameRatioImage"
             ng-style="{'margin-left': marginLeft, 'margin-top': marginTop}"
             ng-src={{image2Draw.url}}>
    </touch2-scroll>
</div>