<div ng-style="{width: pf(width) + 'px', height: pf(height) + 'px', overflow: 'hidden', display: 'block'}"
     ng-class="{true: 'defaultImage'}[isDefaultImage]">

    <img ng-if="isHigherImage"
         class="higherImage"
         ng-style="{'margin-left': marginLeft, 'margin-top': marginTop}"
         ng-src={{image2Draw.url}}>

    <img ng-if="isWiderImage"
         class="widerImage"
         ng-style="{'margin-left': marginLeft, 'margin-top': marginTop}"
         ng-src={{image2Draw.url}}>

    <img ng-if="sameRatioImage"
         class="sameRatioImage"
         ng-style="{'margin-left': marginLeft, 'margin-top': marginTop}"
         ng-src={{image2Draw.url}}>
</div>
