

.infoBoxHeader {
  background-color: yellow;
}

div.polaroid {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
}

div.container {
  text-align: center;
}


$properties: (margin, paddding, border);

@mixin set_all_properties($value){
  @each $prop in $properties {
    #{$prop}: $value;
  }
  $property: $value;
}

.artists div, img, p, spam {

  @include set_all_properties(0px);

}

.header {
  padding-left: 20px;
  padding-right: 20px;
}

.header img {


}

